<div class="row">
  <div class="inner-content">
    <div class="company">
      <div class="company-description pull-left">
        <h2>Company</h2>
        <h3>About Shree Vahanvati Industries.</h3>
        <p>
          Shree Vahanvati Industries is the chief manufacturer of connecting rod
          and crank pin bush and air compressor parts.
        </p>
        <p>
          The Shree Vahanvati Industries was established in the year 2005 and
          made the remarkable reputation on the base of manufacturing all type
          of air compressor spare parts.
        </p>
        <p>
          The standard of consistency in the business etiquette and success is
          accredited to the prudence of two Technocrats, Mr. Pravinbhai Panchal
          and Mr. Rahul Panchal. The company has prospered under the direction
          and unique guidelines of Mr. Pravinbhai Panchal and Mr. Rahul Panchal.
          Their enriching industrial know-how and acquaintance has helped in
          expanding the business all over the world.
        </p>
      </div>
      <div class="company-thumb pull-right">
        <img src="assets/img/about-us.jpg" alt="" />
      </div>
    </div>
    <div class="row" style="padding:40px;border-bottom: 1px solid rgba(0, 0, 0, .1)">
      <div>
        <div class="col-sm-12 col-md-4">
            <h2>Mission</h2>
            <p>
                Manufacturing Highly Developed Equipments By Top-Notch Engineering
                Innovations.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2>Vision</h2>
            <p>
                State Of The Art Industrialized Base, Modern Ideas, Knowledgeable And
                Qualified Team Of Technocrats, Selling Power, Will Always Be A Major
                Strength In Machinery Sector Within The National And Internationally
                Too.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2>Objective</h2>
            <p>
                Improving The Marketability By Increasing Fulfilled And Potential
                Customers. Shree Vahanvati industries aimed to increase customers
                through their product quality and after-sales services.
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="directors" style="padding-top:1.286em">
        <h3>Board of Directors</h3>
        <div class="col-md-6 col-sm-6">
          <div class="col-md-4 col-sm-6">
            <img src="assets/img/board/pravinkumar-panchal-ceo.jpg" alt="" />
          </div>
          <div class="col-md-8 col-sm-6" style="padding: 10px;">
            <h4>PravinKumar Panchal</h4>
            <h5>Chief Executive Officer, Shree Vahanvati Industries.</h5>
          </div>
        </div>
        <!-- <div class="col-md-2 col-sm-2"></div> -->
        <div class="col-md-6 col-sm-6">
          <div class="col-md-4 col-sm-6">
            <img src="assets/img/board/rahul-panchal-md.jpg" alt="" />
          </div>
          <div class="col-md-8 col-sm-6" style="padding: 10px;">
            <h4>Rahul Panchal</h4>
            <h5>Managing Director, Shree Vahanvati Industries.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inner content -->
</div>
