<div class="row">
  <section class="call-to-action">
    <div class="row">
      <div class="col-md-4">
        <div class="action-serve">
          <h3>We Serve to Meet</h3>
          <h4>Your Fabrication Need</h4>
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div id="action-testimonial">
          <div class="item">
            <div class="client-thumb pull-left">
              <img src="/assets/img/client1.jpg" alt="">
            </div>
            <div class="client-comments pull-right">
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <span class="name">Joe Elizzabeth</span>
              <span class="designation">CEO, Steeltech Inc.</span>
            </div>
          </div>
          <div class="item">
            <div class="client-thumb pull-left">
              <img src="/assets/img/client1.jpg" alt="">
            </div>
            <div class="client-comments pull-right">
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <span class="name">Joe Elizzabeth</span>
              <span class="designation">CEO, Steeltech Inc.</span>
            </div>
          </div>
          <div class="item">
            <div class="client-thumb pull-left">
              <img src="/assets/img/client1.jpg" alt="">
            </div>
            <div class="client-comments pull-right">
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <span class="name">Joe Elizzabeth</span>
              <span class="designation">CEO, Steeltech Inc.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .call-to-action -->
</div>