<div class="row">
  <section class="products-section clearfix">
    <div class="col-md-3">
      <div class="product-item">
        <i class="flaticon-tank"></i>

        <h4>SS Tanks</h4>
        <p>A base metal is a common and inexpensive metal.</p>
        <a class="read-more" href="single-service.html">Read More</a>

      </div>
    </div>

    <div class="col-md-3">
      <div class="product-item">
        <i class="flaticon-control-system"></i>

        <h4>Chequered Plates</h4>
        <p>Forging is a manufacturing process involving the shaping.</p>
        <a class="read-more" href="single-service.html">Read More</a>

      </div>
    </div>

    <div class="col-md-3">
      <div class="product-item">
        <i class="flaticon-meter-1"></i>

        <h4>Steel Pipes</h4>
        <p>Seamless steel pipes for petroleum refining and petrochemical.</p>
        <a class="read-more" href="single-service.html">Read More</a>

      </div>
    </div>

    <div class="col-md-3">
      <div class="product-item">
        <i class="flaticon-industrial-robot-4"></i>

        <h4>Handrail</h4>
        <p>Is the occupation of installing or repairing piping or tubing.</p>
        <a class="read-more" href="single-service.html">Read More</a>

      </div>
    </div>

  </section>
  <!-- .products-section-->
</div>