<div class="row">
  <section class="about-section">
    <div class="col-md-12">
      <div class="about-us-carousel">
        <div class="about-carousel-item">
          <div class="item">
            <div class="about-us">
              <h3>Quality</h3>
              <p>
                Our quality manufacturing process ensures robust manufacturing of quality air compressors. Our design
                team, development
                team and testing team thoroughly work towards innovating newer technologies that guarantee quality air
                compressor
                production.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="about-us">
              <h3>Customer-Centric</h3>
              <p>
                We believe in putting customer first. We always believe that our production should help customer earn
                higher return
                on
                investment and we believe that we just don’t manufacture air compressors to earn money and brand name
                but to enhance
                customer facility, satisfaction and value.
              </p>
            </div>
          </div>
          <div class="item">
            <div class="about-us">
              <h3>Reliable</h3>
              <p>
                We are present on Global Map! From India to Indonesia and from USA to UK, we are present in most of the
                major countries
                of the world and our esteemed clients are located at diversified geography of the world; in all
                continents of the
                world.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="customNavigation clients-navigation">
          <a class="next"><i class="fa fa-angle-right"></i></a>
          <a class="prev"><i class="fa fa-angle-left"></i></a>
        </div> -->
      </div>
    </div>
  </section>
  <!-- .about-section -->
</div>