<div class="row">
  <section class="section-welcome">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <div class="welcome">
          <img src="/assets/img/welcome.jpg" alt="">
          <div class="welcome-details">
            <h3>Welcome to Steellex</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris.</p>
            <a href="#">read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <div class="hiring-tab">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li role="presentation"><a href="#magazine" aria-controls="magazine" role="tab" data-toggle="tab">Company
                Magazine</a>
            </li>
            <li role="presentation"><a href="#corporate-values" aria-controls="corporate-values" role="tab" data-toggle="tab">Corporate
                Values</a>
            </li>
            <li role="presentation"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Company
                Mission/ Vision</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="Profile">
              <div class="tab-content-details">
                <span>Great opportunities</span>
                <h4>We are Hiring</h4>
                <img src="/assets/img/profile.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                  laboris nisi ut aliquip. consectetur adipisicing elit.</p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="magazine">
              <div class="tab-content-details">
                <span>Our activities</span>
                <h4>Company Magazine</h4>
                <img src="/assets/img/profile.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                  laboris nisi ut aliquip. consectetur adipisicing elit.</p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="corporate-values">
              <div class="tab-content-details">
                <span>Our market value</span>
                <h4>Corporate Values</h4>
                <img src="/assets/img/profile.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                  laboris nisi ut aliquip. consectetur adipisicing elit.</p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="mission">
              <div class="tab-content-details">
                <span>Great opportunities</span>
                <h4>Company Mission/ Vision</h4>
                <img src="/assets/img/profile.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                  laboris nisi ut aliquip. consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .section-welcome -->
</div>